
/* 
    CSS for Version B of "calendar" for A/B testing
    based on ../calendar/Calendar.css
*/

.calendarB .clearfix {
    clear: both;
}

.calendarB .hide {
    display: none;
}


/* ~~~~~ ~~~~~ ~~~~~ ~~~~~ CALENDAR  ~~~~~ ~~~~~ ~~~~~ ~~~~~ */

.calendarB {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: calc(100vh - 160px - 140px);
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

.calendarB > h1 {
    box-sizing: border-box;
    position: static;
    font-size: 1.7em;
    height: 1.7em;
    margin: 0 0 10px 0;
}

.calendarB > .filter {
    position: absolute;
    margin-top: 0;
    top: 0.5%;
    left: 75%;
}

.calendarB > .filter > .filter_button {
    margin-top: 0;
}

.calendarB .events {
    box-sizing: border-box;
    position: absolute;
    width: 70%;
    height: calc(100% - 1.7em - 30px);
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-right: 10px;
    overflow-y: auto;
}

    .calendarB .event {
        margin-bottom: 10px;
        text-align: center;    
        font-weight: bold;
        background-color: rgba(0, 128, 0, 0.24);
        border: 4px solid green;
        border-radius: 25px 0px 25px 0px;
        -moz-box-shadow:    0 5px 5px -2px gray;
        -webkit-box-shadow: 0 5px 5px -2px gray;
        box-shadow:         0 5px 5px -2px gray;
    }

    .calendarB .event > h1 {
        margin: 0;
        border-bottom: 0px solid white;
    }

    .calendarB .event > .event-body {
        display: flex;
        align-items: center;
    }

    .calendarB .event .details {
        display: flex;
        flex-direction: row;
    }

        .calendarB .event .detail {
            border-left: 4px solid green;
            margin: 5px 0 5px 5px;
            padding: 0 0 0 5px;
        }

        .calendarB .event .detail > h1 {
            margin: 0;
            font-size: 1em;
            color: green;
            font-weight: bolder;
            text-align: left;
        }

        .calendarB .event .detail > p {
            font-weight: normal;
            margin: 0;
        }


    .calendarB .event .options {
        margin-left: auto;
        display: flex;
    }

        .calendarB .event .options .option {
            display: block;
            margin: 0 5px 0 0; 
            padding: 5px 15px;
            color: white;
            border: 4px solid green;
            border-radius: 25px 0px 25px 0px;
            background-color: green;
        }

        .calendarB .event .options .option:hover {
            transition-property: border;
            transition-duration: 0.4s;
            border-color: white;
        }


/* ~~~~~ ~~~~~ ~~~~~ ~~~~~ POPUP ~~~~~ ~~~~~ ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ ~ shows details of an event ~ ~~~~~ ~~~~~ */

.popupB {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 600px;
    max-height: calc(100vh - 160px - 140px);
    width: 700px !important; 
    display: grid;
    z-index: 3;
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
    overflow: auto;
}

.popupB .titleB {
    background-color: green;
    text-align: center;
    color: white;
    margin: 0 0 12px 0;
    border-radius: 25px 25px 0px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
    text-align: center;
    font-weight: bold;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.popupB .closeIcon {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 30px;
}

.popupB .closeIcon path {
    fill: white;
}

.popupB .gymName, .popupB .plan, .popupB .entered {
    background-color: green;
    text-align: center;
    color: white;
    width: 350px;
    margin: 0 0 12px 25px;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.popupB .day, .popupB .from, .popupB .to, .popupB .date, .popupB .trainer {
    background-color: green;
    text-align: center;
    color: white;
    width: 200px;
    margin: 0 0 12px 0;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.popupB .day, .popupB .from, .popupB .to, .popupB .date {
    font-size: 20px;
    height: 30px;
}

.popupB .gymName {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.popupB .plan {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.popupB .entered {
    grid-column: 1 / 1;
    grid-row: 3 / 8;
}

.popupB .trainer {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    height: 250px;
}

.popupB .day {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.popupB .date {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
}

.popupB .from {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
}

.popupB .to {
    grid-column: 2 / 2;
    grid-row: 6 / 6;
}

.popupB .sign {
    grid-column: 2 / 2;
    grid-row: 7 / 7;
}
.popupB .plan, .popupB .entered {
    height: 250px;
}
.popupB .entered div {
    display: flex; 
    justify-content: space-between;
}

.popupB .titleOfList {
    margin-top: 2.5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    margin: 15px 0 0 15px;
    text-align: start;
}

.popupB .numOfEntered {
    background-color: white;
    color:black;
    width: 75px;
    margin: 15px 15px 0 0;
    border-radius: 25px 0 25px 0;
    border: 2px solid black;
}

.popupB .list {
    color: black;
    background-color: white;
    margin: 10px 10px 10px 10px; 
    height: calc(240px - 10px - 24px - 40px);
    overflow: auto;
    top: 50%;
    padding: 5px;
    -moz-box-shadow:    inset 3px 3px 3px gray;
    -webkit-box-shadow: inset 3px 3px 3px gray;
    box-shadow:         inset 3px 3px 3px gray;
}

.popupB .list li {
    background-color: green;
    color: white;
    text-align: center;
    list-style: none;
    margin-top: 10px;
    border-radius: 25px 0px 25px 0px;
}

.popupB .trainer .imageWrapper {
    background-color: white;
    height: 125px;
    border-radius: 25px 0px 25px 0px;
    margin: 20px 20px 15px 20px;
}

.popupB .trainer .imageWrapper img {
    width: 150px;
    height: 115px;
    margin: 5px;
    border-radius: 25px 0px 25px 0px;
}

.popupB .trainer p {
    color: white;
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.popupB .trainer button {
    background-color: white;
    border-radius: 90px;
    border-color: black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    -moz-box-shadow:    0 1px 10px -2px black;
    -webkit-box-shadow: 0 1px 10px -2px black;
    box-shadow:         0 1px 10px -2px black;
}

.popupB .sign {
    text-align: center;
    height: 30px;
    background-color: green;
    border-radius: 90px;
    border-color: green;
    color: white;
    font-size: 20px;
    width: 130px;
    margin-left: 37px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.popupB .full {
    background-color: red;
    color:black;
    font-weight: bold;
    border: 1px solid black;
}

.popupB .appointment_name {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 2px;
    word-wrap: break-word;
    white-space: normal;
}

.popupB .appointment_time_from, .popupB .appointment_time_to, .popupB .appointment_trainer {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 2px;
    word-wrap: break-word;
    white-space: normal;
}

.popupB .appointment {
    overflow: auto;
    text-align: center;
}


/* ----- ----- ----- SCROLLBARS ----- ----- ----- */

.calendarB ::-webkit-scrollbar {
    width: 14px;
}
  
.calendarB ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
.calendarB ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px green;
    border-radius: 10px;
    border: 2px solid transparent;
}

.calendarB ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px darkgreen; 
}


/* ----- ----- ----- RESPONSIVE LAYOUT ----- ----- ----- */

@media only screen and (max-width: 1260px) {
    .calendarB .events {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .calendarB {
        height: calc(100vh - 100px - 140px);
        width: 100%;
    }

    .calendarB .calendar_name {
        font-size: 1.2em;
    }

    .calendarB h1 {
        font-size: 1.1em;
    }

    .calendarB .events {
        font-size: 0.9em;
    }

    .popupB {
        max-height: calc(100vh - 100px - 140px - 20px);
        height: calc(100vh - 100px - 140px - 20px);
        width: 350px !important;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .popupB .closeIcon {
        top: 7px;
    }

    .popupB .gymName, .popupB .plan, .popupB .entered {
        background-color: green;
        text-align: center;
        color: white;
        width: 300px;
        margin: 0 0 12px 25px;
        font-size: 0.9em;
    }
    
    .popupB .day, .popupB .from, .popupB .to, .popupB .date, .popupB .trainer {
        background-color: green;
        text-align: center;
        color: white;
        width: 300px;
        margin: 0 0 12px 25px;
        font-size: 0.9em;
    }

    .popupB .trainer button {
        font-size: 1em;
        margin: 10px auto;
    }
    
    .popupB .sign {
        margin: 0 auto;
        font-size: 1em;
    }

    .popupB .titleB {
        font-size: 1.1em;
        padding: 10px;
    }        
}

@media only screen and (max-width: 600px) {
    .calendarB .hide-on-mobile-1 {
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    .calendarB .hide-on-mobile-2 {
        display: none;
    }

    .calendarB .show-on-mobile-2 {
        display: block;
    }
}