.calendar {
    height: calc(100vh - 160px - 60px);
}

.popup {
    height: 600px !important;
    width: 700px !important; 
    min-width: 700px !important;
    max-width: 700px !important;
    display: grid;
}

.headerPopup {
    display: flex !important;
}

.Header-flexContainer-761 {
    grid-column: 2/ 2 !important;
    grid-row: 1 / 1 !important;
}

.title {
    margin-bottom: 0;
    background-color: green;
    text-align: center;
    color: white;
    width: 350px;
    margin: 10px 255px 12px 0;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
    text-align: center;
    font-weight: bold;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.Layout-popover-734, .jss393, .Layout-popover-729, .Layout-popover-158{
    width: 700px !important; 
    min-width: 700px !important;
    max-width: 700px !important;
}

.gymName, .plan, .entered {
    background-color: green;
    text-align: center;
    color: white;
    width: 350px;
    margin: 0 0 12px 25px;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.day, .from, .to, .date, .trainer {
    background-color: green;
    text-align: center;
    color: white;
    width: 200px;
    margin: 0 0 12px 0;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.day, .from, .to, .date, .appointmentError {
    font-size: 20px;
    height: 30px;
}

.gymName {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.plan {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.entered {
    grid-column: 1 / 1;
    grid-row: 3 / 8;
}

.trainer {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    height: 250px;
}

.day {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.date {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
}

.from {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
}

.to {
    grid-column: 2 / 2;
    grid-row: 6 / 6;
}

.sign {
    grid-column: 2 / 2;
    grid-row: 7 / 7;
}

.appointmentError {
    grid-column: 1 / 3;
    grid-row: 8 / 8;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 600px;
    margin: 0 0 0 12px;
}

.plan, .entered {
    height: 250px;
}
.entered div {
    display: flex; 
    justify-content: space-between;
}

.titleOfList {
    margin-top: 2.5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    margin: 15px 0 0 15px;
    text-align: start;
}

.numOfEntered {
    background-color: white;
    color:black;
    width: 75px;
    margin: 15px 15px 0 0;
    border-radius: 25px 0 25px 0;
    border: 2px solid black;
}

.list {
    color: black;
    background-color: white;
    margin: 10px 10px 10px 10px; 
    height: calc(240px - 10px - 24px - 40px);
    overflow: auto;
    top: 50%;
    padding: 5px;
    -moz-box-shadow:    inset 3px 3px 3px gray;
    -webkit-box-shadow: inset 3px 3px 3px gray;
    box-shadow:         inset 3px 3px 3px gray;
}

.list li {
    background-color: green;
    color: white;
    text-align: center;
    list-style: none;
    margin-top: 10px;
    border-radius: 25px 0px 25px 0px;
}

.trainer .imageWrapper {
    background-color: white;
    height: 125px;
    border-radius: 25px 0px 25px 0px;
    margin: 20px 20px 15px 20px;
}

.trainer .imageWrapper img {
    width: 150px;
    height: 115px;
    margin: 5px;
    border-radius: 25px 0px 25px 0px;
}

.trainer p {
    color: white;
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.trainer button {
    background-color: white;
    border-radius: 90px;
    border-color: black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    -moz-box-shadow:    0 1px 10px -2px black;
    -webkit-box-shadow: 0 1px 10px -2px black;
    box-shadow:         0 1px 10px -2px black;
}

.sign {
    text-align: center;
    height: 30px;
    background-color: green;
    border-radius: 90px;
    border-color: green;
    color: white;
    font-size: 20px;
    width: 130px;
    margin-left: 37px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.full {
    background-color: red;
    color:black;
    font-weight: bold;
    border: 1px solid black;
}

.appointment_name {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 2px;
    word-wrap: break-word;
    white-space: normal;
}

.appointment_time_from, .appointment_time_to, .appointment_trainer {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 2px;
    word-wrap: break-word;
    white-space: normal;
}

.appointment {
    overflow: auto;
    text-align: center;
}

.calendar_name {
    position: absolute;
    left: 80%;
}

.filter_button {
    align-items: center;
    position: absolute;
    left: 50%;
    margin-block-start: 15px;
    margin-block-end: 15px;
    padding: 6.4px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    cursor: pointer;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    z-index: 5;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    letter-spacing: 0.02857em;
}






/* width */
.calendar ::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.calendar ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
.calendar ::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 10px;
}

  /* Handle on hover */
.calendar ::-webkit-scrollbar-thumb:hover {
    background: darkgreen; 
}
@media only screen and (max-width: 768px) {
    .calendar {
        height: calc(100vh - 100px - 140px);
    }

    .calendar_name {
        font-size: 16px;
    }

    .popup {
        height: 400px !important;
        width: 350px !important; 
        min-width: 350px !important;
        max-width: 350px !important;
    }

    .Layout-popover-734, .jss393, .Layout-popover-729, .Layout-popover-158{
        width: 350px !important; 
        min-width: 350px !important;
        max-width: 350px !important;
    }

    .gymName, .plan, .entered {
        background-color: green;
        text-align: center;
        color: white;
        width: 300px;
        margin: 0 0 12px 25px;
    }
    
    .day, .from, .to, .date, .trainer {
        background-color: green;
        text-align: center;
        color: white;
        width: 300px;
        margin: 0 0 12px 25px;
        border-radius: 25px 0px 25px 0px;
        -moz-box-shadow:    0 5px 5px -2px gray;
        -webkit-box-shadow: 0 5px 5px -2px gray;
        box-shadow:         0 5px 5px -2px gray;
    }
    
    .gymName {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    
    .plan {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    .entered {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }
    
    .trainer {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .day {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }
    
    .date {
        grid-column: 1 / 1;
        grid-row: 6 / 6;
    }
    
    .from {
        grid-column: 1 / 1;
        grid-row: 7 / 7;
    }
    
    .to {
        grid-column: 1 / 1;
        grid-row: 8 / 8;
    }
    
    .sign {
        grid-column: 1 / 1;
        grid-row: 9 / 9;
    }

    .appointmentError {
        grid-column: 1 / 1;
        grid-row: 10 / 10;
        width: 300px;
    }

    .title {
        margin-bottom: 0;
        background-color: green;
        text-align: center;
        color: white;
        width: 300px;
        margin: 10px 0 12px 0;
        border-radius: 25px 0px 25px 0px;
        -moz-box-shadow:    0 5px 5px -2px gray;
        -webkit-box-shadow: 0 5px 5px -2px gray;
        box-shadow:         0 5px 5px -2px gray;
        text-align: center;
        font-weight: bold;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .sign {
        margin-left: 30%;
    }
}