.modal-filter {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background: white;
    z-index: 10;
    max-width: 500px !important;
    max-height: 500px !important;
    min-width: 100px !important;
    min-height: 350px !important;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid green;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
  }

  .datarange_picker {
    margin: 10px;
  }

  .filter_name {
    margin: 5px;
  }
  
  .display-none {
    display: none;
  }

  .button_modal {
    background-color: green;
    border-radius: 90px;
    border-color: green;
    color: white;
    font-size: 18px;
    width: 120px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
  }

  .category_selector {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid green;
    border-color: green;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 177px;
    max-width: 250px;
    min-height: 20px;
    max-height: 30px;
    text-align: center;
    padding: 1px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

  .button-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .button-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .button-middle {
    position: absolute;
    bottom: 10px;
    left: 200px;
  }

  .time_picker_overlay {
    border: 3px solid green;
    border-color: green;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input {
    min-width: 50px;
    max-width: 250px;
    min-height: 20px;
    max-height: 30px;
    text-align: center;
  }