.calendar {
    height: calc(100vh - 160px - 60px);
}

.calendar_name {
    position: absolute;
    left: 80%;
}

.filter_button {
    align-items: center;
    position: absolute;
    left: 50%;
    margin-block-start: 15px;
    margin-block-end: 15px;
    padding: 6.4px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    cursor: pointer;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    z-index: 5;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    letter-spacing: 0.02857em;
}

/* SCROLL BARS */
* ::-webkit-scrollbar, .popup ::-webkit-scrollbar {
    width: 14px;
}
  
* ::-webkit-scrollbar-track, .popup ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
* ::-webkit-scrollbar-thumb, .popup ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px green;
    border-radius: 10px;
    border: 2px solid transparent;
}

* ::-webkit-scrollbar-thumb:hover, .popup ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px darkgreen; 
}

.headerPopup {
    background-color: rgb(35, 57, 91);
}

.headerPopup button {
    position: absolute;
    color: white;
    padding: 10px;
}

.title {
    color: white;
    font-weight: bold;
    margin: auto;
    padding: 5px;
}

.popup {
    height: auto !important;
    width: auto !important; 
    min-width: auto !important;
    max-width: auto !important;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    justify-content: space-evenly;
    align-content: space-around;
    grid-template:
        'plan      trainer'
        'attendees details'
    ;
}

.Layout-popover-734, .jss393, .Layout-popover-729, .Layout-popover-158{
    width: auto !important; 
    min-width: auto !important;
    max-width: auto !important;
}

.plan, .attendees {
    background-color: green;
    text-align: center;
    color: white;
    width: 350px;
    height: 250px;
    margin: 0;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.plan {
    grid-area: plan;
}

.attendees {
    grid-area: attendees;
}

.titleOfList {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0 15px;
    text-align: start;
}

.list {
    color: black;
    background-color: white;
    margin: 10px 10px 10px 10px; 
    height: calc(240px - 10px - 24px - 40px);
    overflow: auto;
    top: 50%;
    padding: 5px;
    -moz-box-shadow:    inset 3px 3px 3px gray;
    -webkit-box-shadow: inset 3px 3px 3px gray;
    box-shadow:         inset 3px 3px 3px gray;
}

.list li {
    background-color: #d7f2ba;
    color:rgb(35, 57, 91);
    font-weight: normal;
    text-align: center;
    list-style: none;
    margin-top: 10px;
    border-radius: 25px 0px 25px 0px;
}

.numOfAttendees {
    color:#d7f2ba;
    font-weight: 600;
    margin: 15px 15px 0 0;
}

.attendees div {
    display: flex;
    justify-content: space-between;
}

.trainer {
    grid-area: trainer;
    background-color: green;
    text-align: center;
    color: white;
    width: 200px;
    margin: 0 0 12px 0;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
    height: 250px;
}

.trainer .imageWrapper {
    background-color: white;
    height: 125px;
    border-radius: 25px 0px 25px 0px;
    margin: 20px 20px 15px 20px;
}

.trainer .imageWrapper img {
    width: 150px;
    height: 115px;
    margin: 5px;
    border-radius: 25px 0px 25px 0px;
}

.trainer p {
    color: white;
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.trainer button {
    border-radius: 90px;
    border: 1px solid #d7f2ba;
    color: #d7f2ba;
    background-color: transparent;
    font-size: 1em;
    font-weight: normal;
    padding: 5px 15px;
    -moz-box-shadow:    0 1px 10px -2px black;
    -webkit-box-shadow: 0 1px 10px -2px black;
    box-shadow:         0 1px 10px -2px black;
}

.details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.details p {
    background-color: #d7f2ba;
    font-size: 1em;
    text-align: center;
    color: green;
    width: 200px;
    margin: 0;
    padding: 3px;
    border-radius: 25px 0px 25px 0px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.sign {
    text-align: center;
    height: 30px;
    background-color: green;
    border-radius: 90px;
    border-color: green;
    color: white;
    font-size: 1.1em;
    width: 130px;
    margin-left: 37px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

.full {
    background-color: red;
    color:black;
    font-weight: bold;
    border: 1px solid black;
}

.appointmentError {
    display: block;
    position: absolute;
    border: 3px solid red;
    background-color: white;
    bottom: 0;   
    font-size: 1em;
    color: red;
    font-weight: bold;
    width: calc(100% - 26px);
    text-align: center;
}


/* ***** ***** ***** ***** ***** BEGIN: EVENTS IN CALENDAR ***** ***** ***** ***** ***** */
.appointment {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgb(35, 57, 91);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appointment_name {
    display: block;
    margin: 0;
    font-size: 1.3em;
    white-space: normal;
    color: rgb(189, 228, 168);
}

.appointment_time_from, .appointment_time_to, .appointment_trainer {
    display: block;
    margin: 0;
    font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
}

/* events under 1 hour */
.shortAppointment > p {
    font-size: 0.9em;
}
.shortAppointment > .appointment_name {
    font-size: 1em;
}
/* ***** ***** ***** ***** ***** END: EVENTS IN CALENDAR ***** ***** ***** ***** ***** */


@media only screen and (max-width: 768px) {
    .calendar {
        height: calc(100vh - 100px - 140px);
    }

    .calendar_name {
        font-size: 16px;
    }

    .popup {
        height: 400px !important;
        width: 350px !important; 
        min-width: 350px !important;
        max-width: 350px !important;
        display: block;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    .Layout-popover-734, .jss393, .Layout-popover-729, .Layout-popover-158{
        width: 350px !important; 
        min-width: 350px !important;
        max-width: 350px !important;
        overflow-y: hidden !important;
    }

    .title {
        margin: auto;
    }

    .plan, .attendees, .trainer {
        width: 300px;
        margin: 10px auto;
        padding: 3px;
    }

    .details p {
        margin: 10px auto;
    }

    .sign {
        margin: 10px auto;;
    }
}