.signupmodal {
    height: 475px !important;
    width: 250px !important; 
    min-width: 100px !important;
    max-width: 300px !important;    
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid green;
    padding: 10px;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    box-shadow: 13px 13px 9px -9px grey;
}

.signupmodal input {
    text-align: center;
}

.signupmodal button {
    background-color: green;
    border-radius: 90px;
    border-color: green;
    color: white;
    font-size: 16px;
    width: 150px;
    height: 25px;
    -moz-box-shadow:    0 5px 5px -2px gray;
    -webkit-box-shadow: 0 5px 5px -2px gray;
    box-shadow:         0 5px 5px -2px gray;
}

h3 {
    border-bottom: 2px solid green;
}


